body {
  text-align: center;
  color: white;
  font-family: helvetica;
  background: url("../images/summer-bg.jpg");
  background-size: cover;
  background-attachment: fixed;
  background-color: #264;
}

a {
  color: white;
}

div {
	display: inline;
}

p {
	margin: 10px;
}

#nav {
	display: inline-block;
	margin-top: 10px;
	margin-bottom: 15px;
	padding: 5px;
	text-align: center;
}

#nav li {
	color: #eee;
	display: inline;
	margin: 0px 4px;
	border-bottom: 1px solid #ccc;
}

#nav li a {
	text-decoration: none;
}

#nav li a:hover {
	color: #11e;
	text-decoration: bold;
/*	background-color: #ccc;*/
}

#content {
	margin-top: 10%;
	display: block;
}

#identity {
	display: inline-block;
}

#logo {
	border-radius: 4px;
/*	margin-bottom: 10px;*/
/*	display: block;*/
}

#name {
/*	font-size: 200%;*/
/*	display: block;*/
}

#message {
	display: inline-block;
	padding: 0px 5px;
	text-align: left;
	width: 400px;
	vertical-align: top;
}

.shadowed {
	border-radius: 2px;
	box-shadow: 5px 5px 5px #444;
}

.backed-text {
	background-color: #676;
}

#social a {
	text-decoration: none;
}
