body {
  text-align: center;
  color: white;
  font-family: helvetica;
  background: url("../images/summer-bg.jpg");
  background-size: cover;
  background-color: #264;
}

p {
  font-size: 20px;
  padding: 0px 0px 0px 0px;
}

a {
  color: white;
}

#logo {
	margin: 10px;
	display: block;
}

#name {
	font-size: 200%;
	display: inline;
}

#navigation {
	padding: 15px;
	margin: 0px auto;
	text-align: center;
}

.navItem {
	display: inline;
	margin: 0px 4px;
}