<ul class="social">
  <!--
  <li>
    <a href="blog/">
    <i class="fa fa-rss-square fa-2x" aria-hidden="true"></i></a></li>
  -->
  <li>
    <a href="https://twitter.com/curtisbridges">
    <i class="fa fa-twitter-square fa-2x" aria-hidden="true"></i></a></li>
    <li>
      <a href="http://tumblr.curtisbridges.com">
      <i class="fa fa-tumblr-square fa-2x" aria-hidden="true"></i></a></li>
  <li>
    <a href="https://github.com/curtisbridges">
    <i class="fa fa-github-square fa-2x" aria-hidden="true"></i></a></li>
  <li>
    <a href="https://www.linkedin.com/in/curtisbridges">
    <i class="fa fa-linkedin-square fa-2x" aria-hidden="true"></i></a></li>
</ul>
